<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Economia Circular</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <body>
    <header class="cabecalho">
        <a href="/" class="logo">
            <span class="logo-icone">♻</span>
            <span>Desapego Universitário</span>
        </a>

        <nav class="menu">
            <a href="/">Início</a>
            <a href="#itens">Itens</a>
            <a href="#como-funciona">Como funciona</a>
            <a href="/meus-anuncios">Meus anúncios</a>
        </nav>

        <a href="/cadastrar" class="botao-anunciar">
            Anunciar item
        </a>
    </header>

    <main>
        <h1>Dê uma nova vida ao que você não usa mais</h1>

        <p>
            Compre, venda ou doe materiais dentro da comunidade universitária.
        </p>
    </main>
</body>
</html>